<div class="container-fluid  cadreAccueil" style="background-color: #eeeff3;">
    <div class="row pb-5">
        <div class="col-md-10">
            <div style="padding-top: 13rem;padding-left: 2.25rem;">
                <h2 class="font-weight-bold TitreHeader">Bienvenue sur votre site de  <br>
                  <span> formation</span></h2>
                <p style="padding-top: 2.75rem;color: white;letter-spacing: 1px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur maxime distinctio magni. Omnis possimus dolore unde iste deleniti, sint aspernatur repellat alias quod eaque ullam aut excepturi animi laudantium eius.</p>
                <div class="pt-3">
                    <button class="btn btn-primary btn-lg btnGo " routerLink="/formations">Allez !</button>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- nos formations -->
<div class="container cadreFormations">
    <div class="row" style="padding-top: 130px;">
        <div class="col-md-12 text-center">
            <h2 class="titreFormations">Nos Formations.</h2>
        </div>
    </div>
    <div class="row" style="padding-top: 80px;padding-bottom: 10px;">
        <div class="col-md-4">
            <div class="card text-center styleCadreF">
                <div class="pt-5 iconCode">
                    <i class="fa fa-code"></i>
                </div>
                <div class="card-body pt-3">
                    <h4 class="titreF">Web Development</h4>
                    <p class="desriptionF">
                        The front end of your website. No coding and no confusing back
                        end options.
                      </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center styleCadreF">
                <div class="pt-5 iconCode">
                    <i class="fa fa-users"></i>
                </div>
                <div class="card-body pt-3">
                    <h4 class="titreF">IT Management</h4>
                    <p class="desriptionF">
                        The front end of your website. No coding and no confusing back
                        end options.
                      </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center styleCadreF">
                <div class="pt-5 iconCode">
                    <i class="fa fa-user"></i>
                </div>
                <div class="card-body pt-3">
                    <h4 class="titreF">IT Consultancy</h4>
                    <p class="desriptionF">
                        The front end of your website. No coding and no confusing back
                        end options.
                      </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-2" >
        <div class="col-md-4">
            <div class="card text-center styleCadreF">
                <div class="pt-5 iconCode">
                    <i class="fa fa-compass"></i>
                </div>
                <div class="card-body pt-3">
                    <h4 class="titreF">Product Design</h4>
                    <p class="desriptionF">
                        The front end of your website. No coding and no confusing back
                        end options.
                      </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center styleCadreF">
                <div class="pt-5 iconCode">
                    <i class="fa fa-cloud"></i>
                </div>
                <div class="card-body pt-3">
                    <h4 class="titreF">Cloud Services</h4>
                    <p class="desriptionF">
                        The front end of your website. No coding and no confusing back
                        end options.
                      </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center styleCadreF">
                <div class="pt-5 iconCode">
                    <i class="fa fa-code"></i>
                </div>
                <div class="card-body pt-3">
                    <h4 class="titreF">Web Development</h4>
                    <p class="desriptionF">
                        The front end of your website. No coding and no confusing back
                        end options.
                      </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-md-4 text-right">
            <button class="btn btn-primary btnVoir" routerLink="/formations">Voir +</button>
        </div>
    </div>
</div>


<!-- Why choose us -->
<div class="container cadrePourquoi">
    <div class="row" style="padding-top: 130px;">
        <div class="col-md-12 text-center">
            <h2 class="titreW">Pourquoi nous choisir ?.</h2>
        </div>
    </div>
    <div class="row" style="padding-top: 80px;padding-bottom: 100px;">
        <div class="col-md-6">
            <img src="./assets/images/bg-03.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-6 mobileCadre">
<!--             <div>
                <h2 class="textW">Amazing user experience & customer support.</h2>
            </div> -->
            <hr class="traitVertical">
            <div class="pt-5" style="display: flex;">
                <div class="icon-box">
                    <span class="icon">
                        <i class="fa fa-check check" aria-hidden="true">
                        </i>
                    </span>
                    <h6>
                        Tempora atque autem unde rerum? Quam ex optio enim vero et. Quam eos distinctio consequuntur officia.
                    </h6>
                </div>
            </div>
            <div class="pt-5" style="display: flex;">
                <div class="icon-box">
                    <span class="icon">
                        <i class="fa fa-check check" aria-hidden="true">
                        </i>
                    </span>
                    <h6>
                        Tempora atque autem unde rerum? Quam ex optio enim vero et. Quam eos distinctio consequuntur officia.
                    </h6>
                </div>
            </div>
            <div class="pt-5" style="display: flex;">
                <div class="icon-box">
                    <span class="icon">
                        <i class="fa fa-check check" aria-hidden="true">
                        </i>
                    </span>
                    <h6>
                        Tempora atque autem unde rerum? Quam ex optio enim vero et. Quam eos distinctio consequuntur officia.
                    </h6>
                </div>
            </div>
            <div class="pt-5" style="display: flex;">
                <div class="icon-box">
                    <span class="icon">
                        <i class="fa fa-check check" aria-hidden="true">
                        </i>
                    </span>
                    <h6>
                        Tempora atque autem unde rerum? Quam ex optio enim vero et. Quam eos distinctio consequuntur officia.
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Temoignages -->
<div class="container-fluid cadreTemoignages">
    <div class="row" style="padding-top: 80px;">
        <div class="col-md-12 text-center">
            <h2 class="titreT">Témoignages</h2>
        </div>
    </div>
    <div class="row pt-5 pb-5">
        <div class="col-md-6">
            <div class="card styleCardT1">
                <div class="image1">
                    <img src="./assets/images/01.jpg" alt="" class="img-fluid img1">
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque dolor assumenda tenetur tempora, non dolore quidem itaque ratione in dolorum odit atque? Laboriosam placeat ea sequi quo illo tempore? Aliquam.</p>
                    <div>
                        <h4 class="nom"> Jack Jordan </h4>
                        <p class="designation">Lead Developer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card styleCardT2">
                <div class="image1">
                    <img src="./assets/images/02.jpg" alt="" class="img-fluid img1">
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque dolor assumenda tenetur tempora, non dolore quidem itaque ratione in dolorum odit atque? Laboriosam placeat ea sequi quo illo tempore? Aliquam.</p>
                    <div>
                        <h4 class="nom"> Cicilia Roe </h4>
                        <p class="designation">Director Marketing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Contactez-nous -->
<div class="container-fluid cadreContactez">
    <div class="row" style="padding-top: 80px;">
        <div class="col-md-12 text-center">
            <h2 class="titreC">Contactez-nous.</h2>
        </div>
    </div>
    <div class="row justify-content-center" style="padding-top: 50px;">
        <div class="col-md-4">
            <div class="form-group pt-3">
                <label for="">Nom</label>
                <input type="text" class="form-control inputContactez" placeholder="Ex:Kouassi">
            </div>
            <div class="form-group pt-3">
                <label for="">Adresse Mail</label>
                <input type="text" class="form-control inputContactez" placeholder="Ex:Example@abidjan.com">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group pt-3">
                <label for="">Prénom</label>
                <input type="text" class="form-control inputContactez" placeholder="Ex:Constant">
            </div>
            <div class="form-group pt-3">
                <label for="">Numéro de Téléphone</label>
                <input type="text" class="form-control inputContactez" placeholder="Ex:+225 89 87 61 99">
            </div>
        </div>
        <div class="col-md-8 pt-3">
            <div class="form-group">
                <label for="">Message</label>
                <textarea class="form-control inputContactez" cols="30" rows="10" placeholder="Message"></textarea>
            </div>
        </div>
        <div class="col-md-12 text-center pt-5" style="padding-bottom: 100px;">
            <div>
                <button class="btn btn-primary btn-lg btnSoumettre">Soumettre</button>
            </div>
        </div>
    </div>
</div>
