<div class="cadre">
    <div class="container">
        <div class="card login-card ">
            <div class="row">
                <div class="col-md-5 d-none d-sm-block">
                    <img src="./assets/images/login.jpg" class="img-fluid image1" alt="">
                </div>
                <div class="col-md-7" style="padding-left: 0px;padding-right: 0px;">
                    <div class="card-body">
                        <div class="brand-wrapper">
                            <img src="./assets/images/logo.png" class="img-fluid image2" alt="">
                        </div>
                        <p class="text-description">Connectez-vous a votre compte !</p>
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control inputLogin" placeholder="E-mail" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control inputLogin" placeholder="Mot de passe" id="exampleInputPassword1">
                            </div>
                            <div class="text-center pt-3">
                                <button type="submit" class="btn btn-primary btnValider">Connexion</button>
                            </div>
                            <div class="pt-3">
                                <a class="forgot">Mot de passe oublié?</a> <br>
                                <a routerLink='/new-compte' class="footer-text pt-3">Créez un compte</a><br>
                                <a routerLink='' class="footer-text-accueil pt-3">Accueil</a>
                            </div>
                        </form>
                    </div>        
                </div>
            </div>
        </div>
    </div>
</div>