<div class="container cadreInfo">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h3 class="titrePost">Développement d’appli. Android & ios</h3>
        </div>
    </div>
</div>
<div class="container pb-4 pt-4">
    <div class="row cadreDetails pt-4">
        <div class="col-md-4">
            <!-- <div class="card"> -->
                <!-- <div class="card-body"> -->
                  <h5 class="card-title text-center titreObjectif ">Objetif</h5>
                  <ul class="liste">
                    <li class="nav-item">Favoriser l’adéquation des emplois et des formations, </li>
                    <li class="nav-item">Mettre en œuvre l’ alternance dans  les secteurs d’activités où elle est possibles, </li>
                    <li class="nav-item">Mettre en œuvres un système efficaces d’information et d’orientation professionnelle,</li>
                    <li class="nav-item">Nécessité d’une bonne qualification des formateurs ivoiriens et africains;</li>
                    <li class="nav-item">Nécessite de disposer  de personnes compétences et honnête  pour piloter le système,</li>
                    <li class="nav-item">Nécessité de disposer le financement adéquats, </li>
                    <li class="nav-item">Nécessité de disposition d’outils efficace de contrôle et d ’évaluation et de dispositif, </li>
                    <li class="nav-item">Nécessité d’une éthique professionnelle valorisant le travail bien faite, </li>
                  </ul>
                <!-- </div> -->
            <!-- </div> -->
        </div>
        <div class="col-md-4">
            <h5 class="card-title titreObjectif text-center">Programme de formation </h5>
            <ul class="liste">
                <li class="nav-item">
                    DÉVELOPPEMENT WEB & ENVIRONNEMENTS TECHNIQUES
                    <ul>
                        <li>Développement web </li>
                        <li>CMS</li>
                        <li>Veille Technique</li>
                    </ul>
                </li>
                <li class="nav-item">
                    CRÉATION NUMÉRIQUE : Unité d’évaluation
                    <ul>
                        <li>UI Design</li>
                        <li>Expérimentations Créatives</li>
                        <li>Vidéo & Motion</li>
                        <li>Conception Rédaction</li>
                        <li>Culture Créative</li>
                    </ul>
                </li>
                <li class="nav-item">
                    MARCHÉ & STRATÉGIE : Unité d’évaluation 
                    <ul>
                        <li>Web marketing</li>
                        <li>Brand content </li>
                        <li>Communication digital </li>
                        <li>Veille & Expérimentations Digitales</li>
                        <li>Méthodologie UX </li>
                        <li>Culture juridique </li>
                    </ul>
                </li>
                <li class="nav-item">
                    RÉALISATION DE PROJETS & INSERTION PROFESSIONNELLE 
                    <ul>
                        <li>Digital Event</li>
                        <li>Projet annonceur </li>
                        <li>Projet Vidéo</li>
                        <li>Ostage( 14 semaine) </li>
                        <li>Stage(6 à 8 semaines)</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5 class="card-title text-center titreObjectif ">Coût de formation / Volume Horaire</h5>
            <table class="table table-responsive liste">
                <thead>
                  <tr>
                    <th scope="col">Cibles</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Date début</th>
                    <th scope="col">Date fin</th>
                    <th scope="col">Heures</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Publique</td>
                    <td>250 00</td>
                    <td>16 aout 2020</td>
                    <td>16 aout 2020</td>
                    <td>18h a 21h</td>
                  </tr>
                  <tr>
                    <td>Individuel</td>
                    <td>500 000</td>
                    <td>Choisir</td>
                    <td>Choisir</td>
                    <td>Choisir</td>
                  </tr>
                  <tr>
                    <td>Entreprise/
                        Organisation
                    </td>
                    <td>Demande de cotisation</td>
                    <td>Choisir</td>
                    <td>Choisir</td>
                    <td>Choisir</td>
                  </tr>
                </tbody>
            </table>
            <div class="text-center pt-4">
                <button class="btn btn-primary btnInscription" routerLink="/inscription">S'inscrire</button>
            </div>

        </div>
    </div>
</div>
