<div class="container-fluid pt-4 pb-4 cadreAnnonce">
    <div class="row">
        <div class="col-md-8">
            <h4 class="font-weight-bold" style="font-size: 18px;letter-spacing: 1px;">Actualité ivoirienne</h4>
            <div>
                <div class="row pt-3">
                    <div class="col-md-4">
                        <div class="card cardAnnonce2">
                            <img src="./assets/images/BB13aAKX.jpeg" class="img-fluid">
                            <p class="card-text pt-4 text-center">Présidentielle en Côte d'Ivoire: le GPS investit symboliquement Guillaume Soro
                            </p>
                            <a href="">
                                <img src="./assets/images/AA2Kmk4.png" class="img-fluid ml-2 mr-2">
                                <span class="text-bas">RFI</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card cardAnnonce2">
                        <img src="./assets/images/BB18Z3Pp.jpeg" class="img-fluid">
                        <p class="card-text pt-4 text-center">Présidentielle en Côte d’Ivoire : Henri Konan Bédié, rassembleur, appelle au "retour des exilés"
                        </p>
                        <a href="">
                            <img src="./assets/images/AA2Kmk4.png" class="img-fluid ml-2 mr-2">
                            <span class="text-bas">RFI</span>
                        </a>
                    </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card cardAnnonce2">
                        <img src="./assets/images/BB126F3f.jpeg" class="img-fluid">
                        <p class="card-text pt-4 text-center">Présidentielle ivoirienne: les inquiétudes de la communauté française
                        </p>
                        <a href="">
                            <img src="./assets/images/AA2Kmk4.png" class="img-fluid ml-2 mr-2">
                            <span class="text-bas">RFI</span>
                        </a>
                    </div>
                    </div>
                </div>
            </div>
            <h4 class="font-weight-bold pt-4" style="font-size: 18px;letter-spacing: 1px;">Sport ivoirien</h4>
            <div>
                <div class="row pt-3">
                    <div class="col-md-4">
                        <div class="card cardAnnonce2">
                            <img src="./assets/images/BB18XT9i.jpeg" class="img-fluid">
                            <p class="card-text pt-4 text-center">Côte d’ivoire: Didier Drogba dévoile son plus gros regret
                            </p>
                            <a href="">
                                <img src="./assets/images/AAEK00l.png" style="width: 66px;" class="img-fluid ml-2 mr-2">
                                <span class="text-bas">AfrikMag</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card cardAnnonce2">
                        <img src="./assets/images/BB18StsV.jpeg" class="img-fluid">
                        <p class="card-text pt-4 text-center">Interview : Moussa Diarrassouba, président de S’unir pour la Côte d’Ivoire : « les élections ne doivent pas être des tombeaux ouverts »
                        </p>
                        <a href="">
                            <!-- <img src="./assets/images/AA2Kmk4.png" class="img-fluid ml-2 mr-2"> -->
                            <span class="text-bas ml-2">L'Intelligentd'Abidjan</span>
                        </a>
                    </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card cardAnnonce2">
                        <img src="./assets/images/BB126F3f.jpeg" class="img-fluid">
                        <p class="card-text pt-4 text-center">La Matinale des Sports 08 Septembre 2020/ MARACANA: la Fédération Ivoirienne délocalise la phase, finale de son championnat à Gagnoa. par Fernand Kouakou
                        </p>
                        <a href="">
                            <img src="./assets/images/AA2Kmk4.png" class="img-fluid ml-2 mr-2">
                            <span class="text-bas">RFI</span>
                        </a>
                    </div>
                    </div>
                </div>
            </div>
            <h4 class="font-weight-bold pt-4" style="font-size: 18px;letter-spacing: 1px;">Afrique du Sud</h4>
            <div>
                <div class="row pt-3">
                    <div class="col-md-4">
                        <div class="card cardAnnonce2">
                            <img src="./assets/images/BB187oNo.jpeg" class="img-fluid">
                            <p class="card-text pt-4 text-center">Transition au Mali: la junte se prépare à rencontrer ce mardi la Cédéao au Ghana
                            </p>
                            <a href="">
                                <img src="./assets/images/AA2Kmk4.png" class="img-fluid ml-2 mr-2">
                                <span class="text-bas">RFI</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card cardAnnonce2">
                        <img src="./assets/images/BB18ZXTC.jpeg" class="img-fluid">
                        <p class="card-text pt-4 text-center">Guinée: les experts de la Cédéao se penchent sur le fichier électoral contesté
                        </p>
                        <a href="">
                            <img src="./assets/images/AA2Kmk4.png" class="img-fluid ml-2 mr-2">
                            <span class="text-bas">RFI</span>
                        </a>
                    </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card cardAnnonce2">
                        <img src="./assets/images/BB12i9Yc.jpeg" class="img-fluid">
                        <p class="card-text pt-4 text-center">Burkina Faso: la recrudescence des cas de coronavirus inquiète
                        </p>
                        <a href="">
                            <img src="./assets/images/AA2Kmk4.png" class="img-fluid ml-2 mr-2">
                            <span class="text-bas">RFI</span>
                        </a>
                    </div>
                    </div>
                </div>
            </div>
            <h4 class="font-weight-bold pt-4" style="font-size: 18px;letter-spacing: 1px;">Le Monde</h4>
            <div class="row pt-3">
                <div class="col-md-3">
                    <img src="./assets/images/59af5501bfadb5fa76d1275abb09db32.jpg" style="border-radius: 10px;" class="img-fluid">
                </div>
                <div class="col-md-9">
                    <div>
                        <a href="#">
                            <h5 class="titreActualite">Pour elles</h5>
                        </a>
                        <span class="text-muted">Gala.fr</span><br>
                        <span style="font-weight: bold; color: #333;font-size: 23px;">Constance Debré : la descente aux enfers de ses parents</span>
                        <p>Nièce de Bernard et de Jean-Louis Debré, Constance Debré s'est forgée auprès de parents accros à la drogue. Brillante avocate devenue écrivaine, elle a longtemps souffert des addictions de François Debré et de Maylis Ybarnegaray.</p>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-md-3">
                    <img src="./assets/images/59af5501bfadb5fa76d1275abb09db32.jpg" style="border-radius: 10px;" class="img-fluid">
                </div>
                <div class="col-md-9">
                    <div>
                        <a href="#">
                            <h5 class="titreActualite">Pour elles</h5>
                        </a>
                        <span class="text-muted">Gala.fr</span><br>
                        <span style="font-weight: bold; color: #333;font-size: 23px;">Constance Debré : la descente aux enfers de ses parents</span>
                        <p>Nièce de Bernard et de Jean-Louis Debré, Constance Debré s'est forgée auprès de parents accros à la drogue. Brillante avocate devenue écrivaine, elle a longtemps souffert des addictions de François Debré et de Maylis Ybarnegaray.</p>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-md-3">
                    <img src="./assets/images/59af5501bfadb5fa76d1275abb09db32.jpg" style="border-radius: 10px;" class="img-fluid">
                </div>
                <div class="col-md-9">
                    <div>
                        <a href="#">
                            <h5 class="titreActualite">Pour elles</h5>
                        </a>
                        <span class="text-muted">Gala.fr</span><br>
                        <span style="font-weight: bold; color: #333;font-size: 23px;">Constance Debré : la descente aux enfers de ses parents</span>
                        <p>Nièce de Bernard et de Jean-Louis Debré, Constance Debré s'est forgée auprès de parents accros à la drogue. Brillante avocate devenue écrivaine, elle a longtemps souffert des addictions de François Debré et de Maylis Ybarnegaray.</p>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-md-3">
                    <img src="./assets/images/59af5501bfadb5fa76d1275abb09db32.jpg" style="border-radius: 10px;" class="img-fluid">
                </div>
                <div class="col-md-9">
                    <div>
                        <a href="#">
                            <h5 class="titreActualite">Pour elles</h5>
                        </a>
                        <span class="text-muted">Gala.fr</span><br>
                        <span style="font-weight: bold; color: #333;font-size: 23px;">Constance Debré : la descente aux enfers de ses parents</span>
                        <p>Nièce de Bernard et de Jean-Louis Debré, Constance Debré s'est forgée auprès de parents accros à la drogue. Brillante avocate devenue écrivaine, elle a longtemps souffert des addictions de François Debré et de Maylis Ybarnegaray.</p>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-md-3">
                    <img src="./assets/images/59af5501bfadb5fa76d1275abb09db32.jpg" style="border-radius: 10px;" class="img-fluid">
                </div>
                <div class="col-md-9">
                    <div>
                        <a href="#">
                            <h5 class="titreActualite">Pour elles</h5>
                        </a>
                        <span class="text-muted">Gala.fr</span><br>
                        <span style="font-weight: bold; color: #333;font-size: 23px;">Constance Debré : la descente aux enfers de ses parents</span>
                        <p>Nièce de Bernard et de Jean-Louis Debré, Constance Debré s'est forgée auprès de parents accros à la drogue. Brillante avocate devenue écrivaine, elle a longtemps souffert des addictions de François Debré et de Maylis Ybarnegaray.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card cardAnnonce">
                <div class="card-body">
                    <img src="./assets/images/PHOTO-2018-10-10-10-31-44.jpg" class="img-fluid">
                </div>
                <div class="text-center pb-2">
                    <button class="btn btn-outline-primary btnVoir">Voir +</button>
                </div>
            </div>
            <div class="card cardAnnonce">
                <div class="card-body">
                    <img src="./assets/images/comptable1-1024x682.jpg" class="img-fluid">
                </div>
                <div class="text-center pb-2">
                    <button class="btn btn-outline-primary btnVoir">Voir +</button>
                </div>
            </div>
            <div class="card cardAnnonce">
                <div class="card-body">
                    <img src="./assets/images/digital-marketing.jpg" class="img-fluid">
                </div>
                <div class="text-center pb-2">
                    <button class="btn btn-outline-primary btnVoir">Voir +</button>
                </div>
            </div>
            <div class="card cardAnnonce">
                <div class="card-body">
                    <img src="./assets/images/Learn-English.jpg" class="img-fluid">
                </div>
                <div class="text-center pb-2">
                    <button class="btn btn-outline-primary btnVoir">Voir +</button>
                </div>
            </div>
        </div>
    </div>
</div>